@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
}

.navbar {
  margin-bottom: 2rem;
}

.navbar-menu {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.navbar-item {
  align-items: center;
  display: flex;
}

.navbar-end, .navbar-start {
  display: flex;
}

.has-padding-tiny {
  padding: 0.5rem;
}

.has-padding-small {
  padding: 1rem;
}

.has-margin-tiny {
  margin: 0.5rem;
}

.has-margin-small {
  margin: 1rem;
}
